@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* 
- Mobile: 375px
- Desktop: 1440px
*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink-pry: hsl(322, 100%, 66%);
    --pale-cyan-neutral: hsl(193, 100%, 96%);
    --dark-cyan-neutral: hsl(192, 100%, 9%);
    --grayish-blue-neutral: hsl(208, 11%, 55%);
    --white: hsl(0, 0%, 100%);

    --default-size: 18px;
    --heading-size: 24px;

    --body-cta: "Open Sans";
    --headings: "Poppins";

    --fw-poppins600: 600;
    --fw-open-sans400: 400;
    --fw-opan-sans700: 700;

    --margin-bottom: 30px;
    --margin-top: 15px;
}

body {
    font-size: var(--default-size);
    font-family: var(--body-cta);
}

li {
    list-style: none;
}
 
.header-wrapper {
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
    background-image: url(./images//bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-cyan-neutral);
}

.nav {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-bottom: var(--margin-bottom);
}

.nav-left > img {
    height: 15px;
}

.nav-right-cta {
    border: none;
    
    border-radius: 15px;
    background: var(--white);
    padding: 10px 35px;
    font-family: var(--body-cta);
    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    font-weight: var(--fw-poppins600);
}

section {
    padding: 0 10px;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.header-first , .header-second{
    margin: 50px 0;
    padding: 20px 0;
    width: 350px;

    text-align: center;
}

.inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-family: var(--headings);
    font-weight: var(--fw-poppins600);
    text-align: center;

    margin-bottom: var(--margin-bottom);
    width: 300px;
}

.header.description, .content  {
    margin-bottom: var(--margin-bottom);
    text-align: center;

    padding: 0 5px;
}

.inner-header > .header-second {
    margin-top: -10px;
}

.header-cta {
    padding: 15px 80px;
    border: none;
    border-radius: 15px;
    font-weight: var(--fw-poppins600);
    background: var(--pink-pry);
    color: var(--white);
    font-size: var(--default-size);
    
    margin-top: var(--margin-top);
    box-shadow: 0px 5px 10px 0px rgba(23,3,3,0.3);

    transition: 1s;
    cursor: pointer;
}

.header-second > img, .header-first > img {
    width: 100%;
}

.mobile-view > .container > .header-second {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > .header-second > .inner-container > img{
    width: 100%;
    margin-bottom: var(--margin-bottom);
}

/* -------------- */
.container {
    padding: 35px 50px;
    border-radius: 10px;
    margin: 70px 0;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}

.sub-heading {
    font-family: var(--headings);
    margin-bottom: var(--margin-bottom);
}

.content {
    padding: 0 10px;
}

.content.users {
    padding: 0 15px;
}

/* --------- */
.footer {
    background: var(--dark-cyan-neutral);
    color: var(--white);
    border-radius: 0;

    margin-top: 270px;
    margin-bottom: 0;

    position: relative;

    padding:  120px 12px;
}


.first-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.migrate-footer {
    position: absolute;
    top: -120px;

    background: var(--white);

    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);

}


.footer-first > h4{
    color: var(--dark-cyan-neutral);
    white-space: nowrap;
}

.footer-first > button {
    padding: 15px 60px;
    box-shadow: 0px 5px 10px 0px rgba(23,3,3,0.3);
}

.first-section > .logo {
    filter: invert(1);
}

/* ======== */
.location, .phone, .email {
    display: flex;
    margin: 20px 0;
}


.location > img, .phone > img, .email > img {
    width: 25px;
    height: 25px;
    padding-top: 6px;
    margin-right: 10px;
}


.footer-second > p {
    margin: 0;
}


.second-section > ul > li{
    padding: 10px 2.5px;
    cursor: pointer;
}

.third-section {
    width: 100%;
    margin: 30px 0;
}

.third-section > ul {
    display: flex;

    margin: 0 auto;
    list-style: none;
    justify-content: space-around;
    width: 150px;
}

.third-section > ul > li {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px 10px;

    margin-bottom: 30px;
    
    cursor: pointer;
    transition: width 5s height 5s;
}

.third-section > ul > li:hover {
    color: var(--grayish-blue-neutral);
    border: 1px solid var(--grayish-blue-neutral);
    width: 45px;
    height: 45px;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

/* =================== */
.desktop-view {
    display: none;
}


@media (min-width: 800px) {
    .nav {
        padding: 0 30px;
        overflow: hidden;
    }

    .inner-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-cta {
        padding: 10px 15px;
        transition: 1s;
    }

    .header-cta:hover {
        padding: 15px 20px;
    }

    .mobile-view {
        display: none;
    }

    .desktop-view {
        display: block;
        width: 90%;
        margin: 0 auto;
        transition: 2s;
    }

    .desktop-view:hover, .desktop:hover {
        width: 100%;
        height: 100%;
    }

    .desktop {
        width: 90%;
        margin: 0 auto;
    }

    .container .inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0 30px;

    }

    .sub-heading {
        text-align: left;
        white-space: nowrap;
    }

    .header.description, .content  {
        text-align: left;
        
        padding: 0;
    }


    .header-second > img, .header-first > img {
        margin-left: 30px;
    }

    .desktop > .container > .inner-container > .header-first {
        margin-right: 50px;
    }

    .desktop > .container > .inner-container > .header-second {
        margin-left: 40px;
    }

    .header-first {
        margin-left: 20px;
    }

    .header-first.diff {
        margin: 0;
        margin-right: 20px;
        
    }
    
    .header-first.diff > .content.users {
        padding: 0;
        width: 100%;

    }
    
    .desktop > .container > .inner-container > .header-second.diff {
        margin-left: 40px;
    }   
    
    .migrate-footer {
        width: 50%;    
        text-align: center;
    }

    .footer-first > h4{
        font-size: var(--default-size);
    }
    
    .footer-first > button {
        padding: 15px 60px;
        box-shadow: 0px 5px 10px 0px rgba(23,3,3,0.3);
    }

    .footer-second {
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px;
    }

    .footer-second > .first-section {
        width: 40%;
        padding-right: 20px;
    }

    .location > p {
        padding: 0 10px;
    }

    .phone {
        display: flex;
    }

    .phone > p {
        padding-top: 4px;
    }

    .email > p {
        padding-top: 4px;
    }

    .second-section {
        display: flex;
        width: 25%;
        justify-content: space-between;
        margin: 0;
        padding-top: 55px;
    }

    .second-section > ul {
        list-style: none;
    }

    .third-section {
        width: 35%;
        margin-left: 10px;

        padding-top: 35px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}